<html>
<head>
</head>
<body>

<form action="/book" method="POST">
	<h1>Welcome {{Email}}</h1> 

    <style type="text/css">
        table, th, td{
            border: 1px solid black;
        }
    </style>
    
    Here are your results:
    
    <table>
        <th>Departure Location</th>
        <th>Arrival Location</th>
        <th>Departure Time</th>
        <th>Bus Type</th>
        <th>Price</th>
    
    {% for line in data %}
        <tr>
            <td><input type="radio" name="id" value="{{line[0]}}" required>{{line[2]}}</input></td>
            <td>{{line[3]}}</td>
            <td>{{line[4]}}</td>
            <td>{{line[5]}}</td>
            <td>{{price[0]}}</td>
        </tr>
    {% endfor %}
    </table>

    <input type="submit" value="Pick Trip">
    {% if error %}
<p class="error"> {{error}}</p>
{% endif %}
</form>

<br>
<a href="/home">Home</a>
<br>
<a href="/logout">Logout</a>

</body>


</html>