<html>
 
<body style="text-align: center;">
     
    <h2>
        Avatar
    </h2>
     
    <video width="1000px" height="500px"
        controls="controls"/>
         
        <source src="https://d1ypx0kk0vid60.cloudfront.net/avatar.mp4"
            type="video/mp4">
    </video>
    <br>
    <h2>
        Avengers
    </h2>
     
    <video width="1000px" height="430px"
        controls="controls"/>
         
        <source src="https://d1ypx0kk0vid60.cloudfront.net/avengers.mp4"
            type="video/mp4">
    </video>
    <br>
    <h2>
        Harry Potter and the Deathly Hallows Part 2
    </h2>
     
    <video width="1000px" height="500px"
        controls="controls"/>
         
        <source src="https://d1ypx0kk0vid60.cloudfront.net/hp7.mp4"
            type="video/mp4">
    </video>
<br>

    <a href="https://ccproject.auth.us-east-1.amazoncognito.com/logout?client_id=h7ci62rp79b5lqk5u8enjjnbd&logout_uri=https://ec2-18-234-140-63.compute-1.amazonaws.com:8080/home">Home</a>
</body>
 


</html>


